@model Meseum.Models.Link

@{
    ViewBag.Title = "Create";
}
<div class="card">
    <div class="card-header py-3">
        <h3 class="m-1 font-weight-bold center text-primary">Link</h3>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name)

                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LinkUrl)

                        @Html.EditorFor(model => model.LinkUrl, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LinkUrl, "", new { @class = "text-danger" })
                    </div>
                </div>
               

                <div class="col-md-12 text-center">
                    <input type="submit" value="Create" class="btn btn-success" />

                </div>
            </div>
        }
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
