@model Meseum.Models.Gallery

@{
    ViewBag.Title = "Details";

    Layout = "~/Views/Shared/_LayoutArt.cshtml";

}
<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Gallery
                </h1>
                <p class="text-white link-nav"><a href="@Url.Action("Index","Home")">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="@Url.Action("DetailsUser","Galleries")"> Gallery</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start gallery Area -->
<section class="gallery-area section-gap gallery-page-area" id="gallery">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">@Model.Name</h1>
                    <p>@Model.ShortDetails</p>
                </div>
            </div>
        </div>
        <div id="grid-container" class="row">
            @if (Model.Files.Count() > 0)
            {
                foreach (var item in Model.Files.ToList())
                {
                    <a class="single-gallery" href="@Url.Content(item.path)"><img class="grid-item" src="@Url.Content(item.path)"></a>

                }
            }

        </div>
    </div>
</section>