@model Meseum.Models.Posture

@{
    ViewBag.Title = "Edit";
}
<h4>Posture</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="row">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Name)

            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Description)

            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
        <div class="col-md-12">
            <input type="submit" value="Save" class="btn btn-primary"/>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
